# Next.js
.next/
out/
node_modules/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# misc
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log* 